:root{
  --osfsidebar-size: 230px;
  --osftopbar-size: 50px;
  --osfs0-color: #000000;
  --osfs1-color: #14181C;
  --osfs2-color: #283038;
  --osfs3-color: #3C4854;
  --osfs4-color: #506070;
  --osfs5-color: #64788C;
  --osftext-color: #B8BDC0;
  --osftexth-color: #40A080;
}