:root{
  --osfsidebar-size: 230px;
  --osftopbar-size: 50px;
  --osfs0-color: #131618;
  --osfs1-color: #1C2124;
  --osfs2-color: #272C30;
  --osfs3-color: #2D3539;
  --osfs4-color: #353C42;
  --osfs5-color: #353C42;
  --osftext-color: #BEC5CB;
  --osftexth-color: #3C8DBC;
}